@import 'variables.scss';

body, html {
	margin: 0; 
	padding: 0;
	height: 100%;
	background-color: $color-body;
}

h1 {
	text-align: center;
	display: block;
}

.content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30% !important;

	p {
		color: #fff;
		text-align: justify;
	}
	h1 {
		color: #d9950d;
	}
}

.github-button {
	display: flex;
	width: 100%;
	margin-top: 3% !important;
	background-color: #d9950d !important;
	color: #fff !important;
	transition: 0.25s;

	&:hover {
		background-color: #fff !important;
		color: #000 !important;
	}
}

.contact {
	display: flex;
	margin-top: 10%;
	justify-content: center;
}
.contact .icon {
	font-size: 2em;
	color: #fff;
	margin: 0 2%;
	cursor: pointer;
	transition: 0.25s;

	&:hover {
		color: #d9950d;
		transform: scale(1.1);
	}
}